@font-face
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/gilroyextrabold.woff) format('woff'),
    url(fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face
{
    font-family: 'Gilroy Light';
    font-style: normal;
    src: url(fonts/gilroylight.woff) format('woff'),
    url(fonts/gilroylight.woff2) format('woff2');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/opensans.woff) format('woff'),
    url(fonts/opensans.woff2) format('woff2');
}

@font-face
{
    font-family: 'Open Sans Light';
    font-style: normal;
    src: url(fonts/opensanslight.woff) format('woff'),
    url(fonts/opensanslight.woff2) format('woff2');
}

.extra-button
{
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    font-size: 18px;

    position: relative;

    display: inline-block;
    cursor: pointer;

    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 30px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000000;
}

.extra-button:active
{
    color: #000000;
}

.extra-button::before
{
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 0;
    width: 100%;
    height: 20%;
    content: "";
    transition: all .3s ease-in-out;
    background-color: #f0c52e;
}

.extra-button:hover::before
{
    top: 0;
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

header
{
    display: flex;
}

.header-wrapper
{
    width: 1160px;
    margin: auto;
}

.logo
{
    font-family: "Gilroy ExtraBold";
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    position: absolute;
    margin-left: 60px;
    z-index: 1;
    margin-top: 21px;
}

.menu-container
{
    background-color: #f7e296;
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* z-index: 0; */
    margin-top: 50px;
    height: 100px;
}

.menu-container::after
{
    content: "";
    width: 1160px;
    height: 100px;
    background-color: #f7e296;
    position: absolute;
    left: 0px;
    bottom: -99px;

}

.search-form input[type='search'] 
{ 
width: 315px; 
min-height: 49px; 
padding-left: 40px; 
opacity: .3; 
border: none; 
border-top: 2px solid transparent; 
border-bottom: 2px solid transparent; 
background-color: #f7e296; 
} 

.search-form input[type='search']::-ms-clear 
{ 
display: none; 
} 

.search-form input[type='search']:hover 
{ 
opacity: .6; 
} 

.search-form input[type='search']:focus 
{ 
opacity: 1; 
border-bottom: 2px solid #000000; 
outline: none; 
} 

.search-form input[type='submit'] 
{ 
display: none; 
width: 85px; 
min-height: 49px; 
margin-left: -4px; 
cursor: pointer; 
border: 2px solid #000000; 
outline: none; 
background-color: #f7e296; 
} 

.search-form input[type='submit']:hover 
{ 
color: #ffffff; 
background-color: #000000; 
} 

.search-form input[type='submit']:active 
{ 
color: #464646; 
} 

.search-form-field:focus + input[type='submit'], 
.search-form-field + input[type='submit']:active 
{ 
display: inline-block; 

vertical-align: bottom; 
} 

.search-form::before 
{ 
position: absolute; 
top: 75px;
left: 67px; 
width: 18px; 
height: 18px; 
content: ""; 
-webkit-transform: translateY(-50%); 
-ms-transform: translateY(-50%); 
transform: translateY(-50%); 
background-image: url(img/search.png); 
background-repeat: no-repeat; 
}

.menu-link
{
    position: relative;
    margin-top: 15px;
}

.log-in-link
{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-left: 25px;
}

.log-in-link::before
{
    content: "";
    background-image: url(img/user.png);
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 0px;
}

.log-in-link:hover
{
    opacity: .6;
}

.log-in-link:active
{
    opacity: .3;
}

.comparison-link
{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-left: 225px;
}

.comparison-link::before
{
    content: "";
    background-image: url(img/compare.png);
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 275px;
}

.comparison-link:hover
{
    opacity: .6;
}

.comparison-link:active
{
    opacity: .3;
}

.basket-link
{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-left: 50px;
}

.basket-link::before
{
    content: "";
    background-image: url(img/cart.png);
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 395px;
}

.basket-link:hover
{
    opacity: .6;
}

.basket-link:active
{
    opacity: .3;
}

.menu-info
{
    position: relative;
    margin-top: 50px;
}

.menu-info-delivery
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
    letter-spacing: 4px;
}

.menu-info-delivery:hover
{
    opacity: .6;
}
.menu-info-delivery:active
{
    opacity: .3;
}

.menu-info-guarante
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
    letter-spacing: 4px;
}

.menu-info-guarante:hover
{
    opacity: .6;
}
.menu-info-guarante:active
{
    opacity: .3;
}

.menu-info-contacts
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    margin-left: 50px;
    letter-spacing: 4px;
}

.menu-info-contacts:hover
{
    opacity: .6;
}
.menu-info-contacts:active
{
    opacity: .3;
}

.catalog-menu
{
    margin-top: 40px;
    width: 571px;
    
}

.catalog-additional
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 4px;
    position: relative;
}

.catalog-additional::after
{
    content: "";
    background-image: url(img/plus.png);
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: -20px;
}

.catalog-additional:hover
{
    opacity: .6;
}

.drop-colum
{
    width: 180px;
}

.drop-catalog
{
    display: none;
    margin-top: 10px;
    justify-content: space-between;
    z-index: 99;
    position: relative;
    background-color: #f7e296;
    height: 128px;
}

.catalog-link
{
    text-decoration: none;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    color: #000000;
    margin-bottom: 10px;
}

.catalog-link:hover
{
    opacity: .6;
}

.catalog-link:active
{
    opacity: .3;
}

.catalog-menu:hover > .drop-catalog
{
    display: flex;
    
}

main{
    width: 100%;
}

.main-wrapper
{
    width: 1160px;
    margin: auto;
}

.slider
{
    width: 990px;
    margin: auto;
    position: relative;
    height: 530px;
    z-index: 2;
}

.slide{
    display: flex;
    justify-content: space-between;
}

.slide-image
{
    
}
.slide-description-container
{
    position: relative;
    width: 450px;
}

.slide-description-container::before
{
    content: "";
    width: 100px;
    height: 7px;
    background-color: #ffffff;
    position: absolute;
}

.slide-number
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 179px;
    position: absolute;
    margin-top: -50px;
    color: #ffffff;
    right: -40px;
}

.slide-headline
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 47px;
    margin-top: 65px;
    margin-bottom: 30px;
}

.slide-description
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
      
}

.slide-specifications-container
{
    display: flex;
    width: 420px;
    justify-content: space-between;
    margin-top: 60px;
}

.slide-specification
{
    font-family: 'Gilroy Light';
    font-style: normal;
    font-size: 36px;
    margin: 0;
}

.slide-specif-description
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 13px;
}

.slider-control
{
    position: absolute;
    right: 80px;
    bottom: 151px;
    display: flex;
    margin: 0;
    width: 80px;
    justify-content: space-between;
}
.slide-toggle
{
    font-size: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url(img/slider-button-empty.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-toggle-selected
{
    font-size: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url(img/slider-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.most-popular-items
{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.item-container
{
    cursor: pointer;
}

.item 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    background-color: #f7e296;
    background-position: center;
    background-repeat: no-repeat;
}

.item:hover 
{
    background-color: #f0c52e;
}

.item-container:active
{
    opacity: .3;
}

.item-description
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px; 
    width: 160px;
}

.item1
{
    background-image: url(img/popular1.png);
}

.item2
{
    background-image: url(img/popular2.png);
}

.item3
{
    background-image: url(img/popular3.png);
}

.item4
{
    background-image: url(img/popular4.png);
}

.item5
{
    background-image: url(img/popular5.png);
}

.item6
{
    background-image: url(img/popular6.png);
}

.substrate-container
{
    position: relative;
}

.substrate-container::before
{
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #e5e5e5;
    top: 72px;
}

.service-container
{
    display: flex;
    margin-top: 150px;
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.service-buttons
{
    position: relative;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    padding-top: 5px;
    width: 297px;
}

.service-buttons > li
{
    margin-bottom: 30px;
}

.service-buttons::before
{
    content: "";
    width: 7px;
    height: 319px;
    background: #000000;
    position: absolute;
    top: -82px;
    right: 5px;
}

.service-slides
{
    width: 700px;
    z-index: 1;
}

.service-slide-headline
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size:  47px;
    margin-top: 40px;
}

.service-slide-description
{
    width: 440px;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    margin-top: 30px;
}

.visually-hidden
{
    display: none;
}

.service
{
    background-position: right;
    background-repeat: no-repeat; 
}

.service-1
{
    background-image: url(img/delivery.png);
}

.service-2
{
    background-image: url(img/warranty.png);
}

.service-3
{
    background-image: url(img/credit.png);
}

.selected-service
{
    width: 285px;
    height: 40px;
    background: #000000;
}

.selected-service > label
{
    color: #f7e184;
}

.selected-service > label:first-of-type::before
{
    display: none;
}

.partners
{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.partner-logo
{ 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
    filter: grayscale(100%);
    opacity: .2;
    cursor: pointer;
    } 

.partner-logo:hover
{ 
    -webkit-filter: none; 
    -moz-filter: none; 
    -ms-filter: none; 
    -o-filter: none; 
    filter: none;
    opacity: 1;
}

.about-contacts-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 1160px;
}

.about
{
    position: relative;
}

.about::before
{
    content: "";
    width: 80px;
    height: 7px;
    position: absolute;
    background: #000000;
    top: 0px;
}

.about-headline
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 47px;
}

.about-description
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-bottom: 40px;
    width: 480px;
}

.about-list
{
    margin: 70px 0px 70px 0px;
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.about-list > li
{
    margin-bottom: 20px;
}

.contacts
{
    position: relative;
    width: 560px;
}

.contacts::before
{
    content: "";
    width: 80px;
    height: 7px;
    position: absolute;
    background: #000000;
    top: 0px;
}

.contacts-headline
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 47px;
}

.contacts-description
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-bottom: 40px;
    width: 480px;
}

.contacts-map
{
    margin-bottom: 47px;
}

footer
{
    background: #464646;
    width: 100%;
    margin-top: 80px;
    height: 323px;
}

.footer-wrapper
{
    width: 1160px;
    display: flex;
    margin: auto;
}

.foorer-us
{
    margin-top: 50px;
}

.footer-logo
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #ffc600;
    cursor: pointer;
}

.footer-logo:hover
{
    opacity: .6;
}

.footer-logo:active
{
    opacity: .3;
}

.footer-adres
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
    position: relative;
}

.footer-adres::before
{
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background: #ffc600;
    top: 100px;
}

.footer-info-social
{
    margin: auto;
}

.footer-info
{
    margin-top: 105px;
}

.footer-info-delivery, .footer-info-guarantee, .footer-info-contacts
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-social
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-social-link
{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.facebook
{
    background-image: url(img/fb.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 130px;
}

.instagram
{
    background-image: url(img/inst.png);
    background-position: center;
    background-repeat: no-repeat;
}

.twitter
{
    background-image: url(img/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 130px;
}

.footer-menu
{
    margin-top: 60px;
}

.footer-menu-link
{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.footer-log-in-link
{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    position: relative;
}

.footer-log-in-link::before
{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url(img/user2.png);
    bottom: 3px;
    left: -20px;
}

.footer-comparison-link
{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-left: 25px;
    position: relative;
}

.footer-comparison-link::before
{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url(img/compare2.png);
    bottom: 3px;
    left: -20px;
}

.footer-basket-link
{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    margin-left: 25px;
    position: relative;
}

.footer-basket-link::before
{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url(img/cart2.png);
    bottom: 3px;
    left: -20px;
}

.footer-number
{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
    margin-top: 35px;
    text-align: right;
}

.academy
{
    background-image: url(img/academy.png);
    width: 27px;
    height: 35px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

.academy:hover
{
    opacity: .6;
}

.academy:active
{
    opacity: .3;
}
