@font-face
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 700;
    font-style: normal;

    src: url(fonts/gilroyextrabold.woff) format('woff'),
    url(fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face
{
    font-family: 'Gilroy Light';
    font-style: normal;

    src: url(fonts/gilroylight.woff) format('woff'),
    url(fonts/gilroylight.woff2) format('woff2');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url(fonts/opensans.woff) format('woff'),
    url(fonts/opensans.woff2) format('woff2');
}

@font-face
{
    font-family: 'Open Sans Light';
    font-style: normal;

    src: url(fonts/opensanslight.woff) format('woff'),
    url(fonts/opensanslight.woff2) format('woff2');
}


.extra-button
{
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}

.extra-button:active
{
    color: #000000;
}

.extra-button::before
{
    background-color: #f0c52e;
    content: "";
    height: 20%;
    left: 0;
    position: absolute;
    top: 40%;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: -1;
}

.extra-button:hover::before
{
    height: 100%;
    top: 0;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

header
{
    display: flex;
}

.header-wrapper
{
    margin: auto;
    width: 1160px;
}

.logo
{
    font-family: "Gilroy ExtraBold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 21px;
    position: absolute;
    z-index: 1;
}

.menu-container
{
    background-color: #f7e296;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-top: 30px;
    margin-top: 50px;
    padding: 50px;
    position: relative;
}

.menu-container::after
{
    background-color: #f7e296;
    bottom: -99px;
    content: "";
    height: 100px;
    left: 0px;
    position: absolute;
    width: 1160px;

}

.search-form input[type='search'] 
{ 
    background-color: #f7e296; 
    border-bottom: 2px solid transparent; 
    border-top: 2px solid transparent; 
    border: none; 
    min-height: 49px; 
    opacity: .3; 
    padding-left: 40px; 
    width: 315px; 
} 

.search-form input[type='search']::-ms-clear 
{ 
    display: none; 
} 

.search-form input[type='search']:hover 
{ 
    opacity: .6; 
} 

.search-form input[type='search']:focus 
{ 
    border-bottom: 2px solid #000000; 
    opacity: 1; 
    outline: none; 
} 

.search-form input[type='submit'] 
{ 
    background-color: #f7e296; 
    border: 2px solid #000000; 
    cursor: pointer; 
    display: none; 
    margin-left: -4px; 
    min-height: 49px; 
    outline: none; 
    width: 85px; 
} 

.search-form input[type='submit']:hover 
{ 
    background-color: #000000; 
    color: #ffffff; 
} 

.search-form input[type='submit']:active 
{ 
    color: #464646; 
} 

.search-form-field:focus + input[type='submit'], 
.search-form-field + input[type='submit']:active 
{ 
    display: inline-block; 
    vertical-align: bottom; 
} 

.search-form::before 
{ 
    -ms-transform: translateY(-50%); 
    -webkit-transform: translateY(-50%); 
    background-image: url(img/search.png); 
    background-repeat: no-repeat; 
    content: ""; 
    height: 18px; 
    left: 67px; 
    position: absolute; 
    top: 75px;
    transform: translateY(-50%); 
    width: 18px; 
}

.menu-link
{
    margin-top: 15px;
    position: relative;
}

.log-in-link
{
    color: #000000;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-left: 25px;
    text-decoration: none;
}

.log-in-link::before
{
    background-image: url(img/user.png);
    content: "";
    height: 12px;
    left: 0px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.log-in-link:hover
{
    opacity: .6;
}

.log-in-link:active
{
    opacity: .3;
}

.comparison-link
{
    color: #000000;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-left: 225px;
    text-decoration: none;
}

.comparison-link::before
{
    background-image: url(img/compare.png);
    content: "";
    height: 12px;
    left: 275px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.comparison-link:hover
{
    opacity: .6;
}

.comparison-link:active
{
    opacity: .3;
}

.basket-link
{
    color: #000000;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-left: 50px;
    text-decoration: none;
}

.basket-link::before
{
    background-image: url(img/cart.png);
    content: "";
    height: 12px;
    left: 395px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.basket-link:hover
{
    opacity: .6;
}

.basket-link:active
{
    opacity: .3;
}

.menu-info
{
    margin-top: 50px;
    position: relative;
}

.menu-info-delivery
{
    color: #000000;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    margin-right: 30px;
    text-decoration: none;
}

.menu-info-delivery:hover
{
    opacity: .6;
}
.menu-info-delivery:active
{
    opacity: .3;
}

.menu-info-guarante
{
    color: #000000;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    margin-right: 30px;
    text-decoration: none;
}

.menu-info-guarante:hover
{
    opacity: .6;
}
.menu-info-guarante:active
{
    opacity: .3;
}

.menu-info-contacts
{
    color: #000000;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 50px;
    text-decoration: none;
}

.menu-info-contacts:hover
{
    opacity: .6;
}
.menu-info-contacts:active
{
    opacity: .3;
}

.catalog-menu
{
    margin-top: 40px;
    width: 571px;
    
}

.catalog-additional
{
    color: #000000;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
    text-decoration: none;
}

.catalog-additional::after
{
    background-image: url(img/plus.png);
    content: "";
    height: 16px;
    position: absolute;
    right: -20px;
    top: 2px;
    width: 16px;
}

.catalog-additional:hover
{
    opacity: .6;
}

.drop-colum
{
    width: 180px;
}

.drop-catalog
{
    background-color: #f7e296;
    display: none;
    height: 128px;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    z-index: 99;
}

.catalog-link
{
    color: #000000;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-bottom: 10px;
    text-decoration: none;
}

.catalog-link:hover
{
    opacity: .6;
}

.catalog-link:active
{
    opacity: .3;
}

.catalog-menu:hover > .drop-catalog
{
    display: flex;
    opacity: 1;
    
}

main{
    width: 100%;
}

.main-wrapper
{
    margin: auto;
    width: 1160px;
}

.slider
{
    height: 530px;
    margin: auto;
    position: relative;
    width: 990px;
    z-index: 2;
}

.slide{
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 530px;
}

.slide-description-container
{
    position: relative;
    width: 450px;
}

.slide-description-container::before
{
    background-color: #ffffff;
    content: "";
    height: 7px;
    position: absolute;
    width: 100px;
}

.slide-number
{
    color: #ffffff;
    font-family: 'Gilroy ExtraBold';
    font-size: 179px;
    font-style: normal;
    font-weight: 700;
    margin-top: -50px;
    position: absolute;
    right: -40px;
}

.slide-headline
{
    font-family: 'Gilroy ExtraBold';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 65px;
}

.slide-description
{
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.slide-bottom
{
    position: absolute;
    bottom: 0;
}

.slide-specifications-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 420px;
    bottom: 0;
}

.slide-specification
{
    font-family: 'Gilroy Light';
    font-size: 36px;
    font-style: normal;
    margin: 0;
}

.slide-specif-description
{
    font-family: 'Open Sans Light';
    font-size: 13px;
    font-style: normal;
}

.slider-control
{
    bottom: 151px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    right: 80px;
    width: 80px;
}
.slide-toggle
{
    background-image: url(img/slider-button-empty.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    font-size: 0;
    height: 14px;
    width: 14px;
}
.slide-toggle-selected
{
    background-image: url(img/slider-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    font-size: 0;
    height: 14px;
    width: 14px;
}

.most-popular-items
{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.item-container
{
    cursor: pointer;
}

.item 
{
    align-items: center;
    background-color: #f7e296;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 160px;
    justify-content: center;
    width: 160px;
}

.item:hover 
{
    background-color: #f0c52e;
}

.item-container:active
{
    opacity: .3;
}

.item-description
{
    font-family: 'Gilroy ExtraBold';
    font-size: 18px; 
    font-style: normal;
    font-weight: 700;
    width: 160px;
}

.item1
{
    background-image: url(img/popular1.png);
}

.item2
{
    background-image: url(img/popular2.png);
}

.item3
{
    background-image: url(img/popular3.png);
}

.item4
{
    background-image: url(img/popular4.png);
}

.item5
{
    background-image: url(img/popular5.png);
}

.item6
{
    background-image: url(img/popular6.png);
}

.substrate-container
{
    position: relative;
}

.substrate-container::before
{
    background-color: #e5e5e5;
    content: "";
    height: 300px;
    position: absolute;
    top: 72px;
    width: 100%;
}

.service-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    position: relative;
    z-index: 1;
}

.service-buttons
{
    list-style: none;
    margin-top: 50px;
    padding-top: 5px;
    padding: 0;
    position: relative;
    width: 297px;
}

.service-buttons > li
{
    margin-bottom: 30px;
}

.service-buttons::before
{
    background: #000000;
    content: "";
    height: 319px;
    position: absolute;
    right: 5px;
    top: -82px;
    width: 7px;
}

.service-slides
{
    width: 700px;
    z-index: 1;
}

.service-slide-headline
{
    font-family: 'Gilroy ExtraBold';
    font-size:  47px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
}

.service-slide-description
{
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    margin-top: 30px;
    width: 440px;
}

.visually-hidden
{
    display: none;
}

.service
{
    background-position: right;
    background-repeat: no-repeat; 
}

.service-1
{
    background-image: url(img/delivery.png);
}

.service-2
{
    background-image: url(img/warranty.png);
}

.service-3
{
    background-image: url(img/credit.png);
}

.selected-service
{
    background: #000000;
    height: 40px;
    width: 285px;
}

.selected-service > label
{
    color: #f7e184;
}

.selected-service > label:first-of-type::before
{
    display: none;
}

.partners
{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.partner-logo
{  
    cursor: pointer;
    filter: grayscale(100%);
    opacity: .2;
} 

.partner-logo:hover
{  
    filter: none;
    opacity: 1;
}

.about-contacts-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 1160px;
}

.about
{
    position: relative;
}

.about::before
{
    background: #000000;
    content: "";
    height: 7px;
    position: absolute;
    top: 0px;
    width: 80px;
}

.about-headline
{
    font-family: 'Gilroy ExtraBold';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
}

.about-description
{
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-bottom: 40px;
    width: 480px;
}

.about-list
{
    font-family: 'Gilroy ExtraBold';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin: 70px 0px 70px 0px;
}

.about-list > li
{
    margin-bottom: 20px;
}

.contacts
{
    position: relative;
    width: 560px;
}

.contacts::before
{
    background: #000000;
    content: "";
    height: 7px;
    position: absolute;
    top: 0px;
    width: 80px;
}

.contacts-headline
{
    font-family: 'Gilroy ExtraBold';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
}

.contacts-description
{
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-bottom: 40px;
    width: 480px;
}

.modal-write-us
{

    background: #ffffff;
    box-shadow: -2.5pc 0 40px -30pt rgba(2,4,6,.75), 40px 0 30pt -40px rgba(2,4,6,.75), 0 6pt 20px 0.125pc rgba(2,4,6,.2);
    display: none;
    height: 380px;
    left: 25%;
    margin: auto;
    padding: 100px;
    position: fixed;
    top: 25%;
    width: 760px;
    z-index: 999;
}

.modal-close
{
    background-image: url(img/modal-close.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    height: 50px;
    opacity: .6;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}

.modal-close:hover
{
    opacity: 1;
}

.modal-close:active
{
    opacity: .3;
}

.form-write-us
{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.form-name-area
{
    margin-bottom: 20px;
    margin-right: 80px;
    
}

textarea
{
    background-color: #f2f2f2;
    border: none;
    height: 156px;
    margin-bottom: 25px;
    outline: none;
    resize: none;
    width: 720px;
    font-size: 20px;
    padding: 20px;
}

.form-name-area > input, .form-mail-area > input
{
    background-color: #f2f2f2;
    border: none;
    outline: none;
    padding: 16px 20px;
    width: 300px;
    font-size: 15px;
}

.contacts-map
{
    margin-bottom: 47px;
}

footer
{
    background: #464646;
    height: 323px;
    margin-top: 80px;
    width: 100%;
}

.footer-wrapper
{
    display: flex;
    margin: auto;
    width: 1160px;
}

.foorer-us
{
    margin-top: 50px;
}

.footer-logo
{
    color: #ffc600;
    cursor: pointer;
    font-family: 'Gilroy ExtraBold';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.footer-logo:hover
{
    opacity: .6;
}

.footer-logo:active
{
    opacity: .3;
}

.footer-adres
{
    color: #ffffff;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    position: relative;
}

.footer-adres::before
{
    background: #ffc600;
    content: "";
    height: 7px;
    position: absolute;
    top: 100px;
    width: 80px;
}

.footer-info-social
{
    margin: auto;
}

.footer-info
{
    margin-top: 105px;
}

.footer-info-delivery, .footer-info-guarantee, .footer-info-contacts
{
    color: #ffffff;
    font-family: 'Gilroy ExtraBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.footer-social
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-social-link
{
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.facebook
{
    background-image: url(img/fb.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 130px;
}

.instagram
{
    background-image: url(img/inst.png);
    background-position: center;
    background-repeat: no-repeat;
}

.twitter
{
    background-image: url(img/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 130px;
}

.footer-menu
{
    margin-top: 60px;
}

.footer-menu-link
{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.footer-log-in-link
{
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    position: relative;
    text-decoration: none;
}

.footer-log-in-link::before
{
    background-image: url(img/user2.png);
    bottom: 3px;
    content: "";
    height: 12px;
    left: -20px;
    position: absolute;
    width: 12px;
}

.footer-comparison-link
{
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-left: 25px;
    position: relative;
    text-decoration: none;
}

.footer-comparison-link::before
{
    background-image: url(img/compare2.png);
    bottom: 3px;
    content: "";
    height: 12px;
    left: -20px;
    position: absolute;
    width: 12px;
}

.footer-basket-link
{
    color:#ffffff;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-left: 25px;
    position: relative;
    text-decoration: none;
}

.footer-basket-link::before
{
    background-image: url(img/cart2.png);
    bottom: 3px;
    content: "";
    height: 12px;
    left: -20px;
    position: absolute;
    width: 12px;
}

.footer-number
{
    color: #ffffff;
    font-family: 'Open Sans Light';
    font-size: 15px;
    font-style: normal;
    margin-top: 35px;
    text-align: right;
}

.academy
{
    background-image: url(img/academy.png);
    cursor: pointer;
    height: 35px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
    width: 27px;
}

.academy:hover
{
    opacity: .6;
}

.academy:active
{
    opacity: .3;
}
